@charset "utf-8";

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1469589637_2167256.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1469589637_2167256.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1469589637_2167256.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1469589637_2167256.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1469589637_2167256.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
	font-family:"iconfont";
	font-size:16px;
	font-style:normal;
}

.fl{float: left;}
.fr{float: right;}
.clear{clear: both;}
