<!DOCTYPE html>
<html>
<head>
	<title>车厘子</title>
	<link rel="stylesheet" type="text/css" href="/common/normalize.css">
	<link rel="stylesheet" type="text/css" href="/common/common.css">
</head>
<body>
  <div class="header-container">
    <div class="userinfo">
      <img src="/2.png" alt="" />
    </div>
  </div>
  <script src="/header.built.js" charset="utf-8"></script>
</body>
</html>
</html>
