<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/registe">
名字:<input type="text" name="username"/>
    </br></br>
登陆名:<input type="text" name="loginName"/>
    </br></br>
密码:<input type="password" name="password">
    </br></br>
头像:<input type="text" name="photo"/>
    </br></br>
群组:<input type="text" name="groupId">
    </br></br>
    <input type="submit" value="submit">
</form>
</body>
</html>